
/*TABS STYLING*/

#tophead{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 50px;
  margin: auto;
width: 50%;
padding: 10px;
}

li a {
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #c6c386;
  color: white;
}

#tophead:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/*#tophead {
    transition: 0.2s;
}
#tophead:hover {
    opacity: 0;
    transform: scale(5) rotate(30deg);
    -moz-transform: scale(5) rotate(30deg);
    -webkit-transform: scale(5) rotate(30deg);
    -o-transform: scale(5) rotate(30deg);
}*/

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*DATA STYLING*/
table {
  margin-left: 10px;
  border-collapse: separate;
  border-spacing: 50px 0;
/*centering*/
  margin: auto;
width: 50%;
padding: 10px;
}

table:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}



.tab-content {
  background-color: 	#87c6c3;
  color: black;
  /*font-family: 'PT Sans Caption', sans-serif;*/
  font-family: 'Cuprum', sans-serif;

  /*color: #c69687;*/
  /*background-image: "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQonBtaSJm3z2Qjgm67MqlIv7Zr4WneBvLwOzW0G-Cznd7tbZfB"*/
}

#head {
  color: #5b391e;
  /*font-family: 'Cuprum', sans-serif;*/
  font-family: 'PT Sans Caption', sans-serif;
  margin-left: 10px;

  margin: auto;
width: 50%;
padding: 10px;

}

/*BACKGROUND STYLING*/

body {
  background-color: #5b391e;
  color: white;
  /*margin-left: 20px;*/
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
